* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* hamburger-menu */


.hero {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 80px;
  color: #f5f5f5;
  font-family: "Lexend Deca";
}

.hero-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.span {
  letter-spacing: -0.02em;
  color: #5468e7;
}

.header {
  position: absolute;
  top: 60px;
  left: calc(50% - 580px);
  width: 68%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  position: relative;
  width: 100%;
  left: -332px;
}

.logo h1 {
  font-size: 52px;
}




.hero-offer {
  position: absolute;
  top: 370px;
  left: 140px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.hero-offer b {
  display: flex;
  flex-direction: column;
  line-height: 120%;
  width: 60%;
}

.hero-offer span {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  width: 391px;
}

.group-inputbutton {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 14px;
  color: #7676b2;
}

.email-input-col {
  border-radius: 4px;
  background-color: #f5f5f5;
  border: 2px solid #d1ecfd;
  box-sizing: border-box;
  width: 466px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11px 16px;
}

.email-input {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  width: 80%;
  font-size: 14px;
}

.get-early-button {
  text-decoration: none;
  border-radius: 4px;
  background-color: #5468e7;
  text-align: center;
  padding: 16px 49px;
  font-size: 18px;
  color: #f5f5f5;
}

/* -----------------------------------------------------------------mockup-section--------------------------------------------- */
.content-mockup {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  gap: 200px;
  font-size: 50px;
  font-family: "Lexend Deca";
  padding-left: 200px;
}

.offer-mockup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-right: 40px;
  width: 494px;
}

.mockup-img {
  width: 1000px;
}

.learn-more {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  font-weight: 500;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #5468e7;
}

/* --------------------------------------------------------------------------------section1----------------------------------------------------- */

.image-container {
  position: relative;
  width: 839px;
  height: 660px;
  padding-left: 200px;
  overflow: hidden;
}

.cover-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.calender-icon {
  position: absolute;
  bottom: 0;
  right: 20px;
  top: 20px;
  object-fit: cover;
}



.section-title {
  line-height: 64px;
}

.description {
  font-size: 18px;
}

.content-section {
  width: 456px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.info-section {
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 50px;
  color: #232340;
  font-family: "Lexend Deca";
}

/* --------------------------------------------------------------------------------section2----------------------------------------------------- */

.info-section2 {
  height: 1100px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 50px;
  color: #232340;
  font-family: "Lexend Deca";
}

.content-section2 {
  width: 456px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  gap: 48px;
}

.cover-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.image-container-section2 {
  position: relative;
  width: 565px;
  height: 565px;
  overflow: hidden;
  margin-right: 200px;
}

.image-icon-1 {
  position: absolute;
  bottom: 0;
  right: 20px;
  top: 262px;
  object-fit: cover;
}
.image-icon-2 {
  position: absolute;
  bottom: 0;
  right: 20px;
  top: 360px;
  object-fit: cover;
}

/* --------------------------------------------------------------------------------section3----------------------------------------------------- */

.info-section3 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: #232340;
  background-color: #f5f5f5;
  font-family: "Lexend Deca";
}
.image-container-section3 {
  position: relative;
  width: 565px;
  height: 565px;
  margin-left: 200px;
  overflow: hidden;
}

.image-icon-3 {
  position: absolute;
  bottom: 0;
  right: 347px;
  top: 259px;
  object-fit: cover;
}
.image-icon-4 {
  position: absolute;
  bottom: 0;
  right: 347px;
  top: 459px;
  object-fit: cover;
}
.content-section3{
  width: 456px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
/* --------------------------------------------------------------------------------section4----------------------------------------------------- */

.what-people-say {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  font-size: 60px;
  line-height: 64px;
  font-family: "Lexend Deca";
  color: #232340;
  background-color: #f5f5f5;
}

/* --------------------------------------------------------------------------------rates-section----------------------------------------------------- */

.carousel-container {
  height: 1000px;
  padding-top: 206px;
  background-color: #f5f5f5;
}

.review-carousel {
  position: relative;
  height: 520px;
  overflow: hidden;
  font-size: 18px;
  color: rgba(35, 35, 64, 0.9);
  font-family: "Lexend Deca";
  cursor: grab;
}

.reviews {
  position: absolute;
  top: 0px;
  left: 300px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.review-card {
  background-color: #fff;
  box-shadow: 0px 16px 24px rgba(118, 118, 178, 0.24);
  width: 367px;
  display: flex;
  flex-direction: column;
  padding: 44px 33px;
  gap: 40px;
  min-width: 260px;
  max-width: 367px;
}

.star-icon {
  width: 32.48px;
  height: 32px;
}

.rating {
  display: flex;
}

.main-name {
  line-height: 30px;
}

.position {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 23px;
  color: #7676b2;
}

.namecv {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 24px;
  color: #232340;
}

.arrows {
  position: absolute;
  top: 477px;
  left: 1500px;
  display: flex;
  padding: 4px;
  gap: 24px;
}

.arrows button {
  background: none;
  border: none;
}

/* --------------------------------------------------------------------------------footer----------------------------------------------------- */
footer {
  position: relative;
  display: flex;
  min-height: 500px;
  background-color: #232340;
  color: #f5f5f5;
  font-family: "Lexend Deca";
}

.company-container .logo-footer {
  letter-spacing: -0.02em;
  width: 150px;
}

.company-container .logo-footer h1 {
  font-size: 52px;
  color: white;
  display: flex;
  flex-direction: row;

}

.span{
  color: #5468e7;
}
.logo-footer span {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 23px;
  font-family: 'Lexend Deca';
  color: #f5f5f5;
  text-align: left;
  display: flex;
  align-items: center;
  width: 168px;
  padding-top: 20px;
}


.company-container {
  display: flex;
  padding-inline: 140px;
  margin-top: 92px;
  height: 139px;
  font-size: 24px;
}

.company-container h1 {
  font-size: 24px;
  line-height: 30px;
  color: #5468e7;
}

.company-info{
  margin-left: 450px;
  display: flex;
  flex-direction: row;
}

.nav-links {
  left: 0px;
  width: 235px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  color: #f5f5f5;
}

.nav-links a {
  letter-spacing: 0.01em;
  line-height: 23px;
  color: white;
  text-decoration: none;
}

.input-container {
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.24);
  width: 105%;
  display: flex;
  align-items: center;
  padding: 11px 16px;
  font-size: 14px;
  color: #f5f5f5;
}

.email-label {
  flex: 1;
  border: none;
  background: none;
  margin-right: 10px;
  color: #f5f5f5;
  outline: none;
}
.email-label::placeholder {
  color: #f5f5f5;
}

.forward-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.copyright {
  position: absolute;
  top: 170px;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  }


.copyright-team-inc {
  letter-spacing: 0.01em;
  margin-top: 260px;
  line-height: 23px;
  font-size: 14px;
  width: 110%;
}


/* ---------------------------------------NavBar & HAMBURGER------------------------------- */

.nav-menu  {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
  width: 713px;
}

nav .openMenu {
 
  margin: 20px;
  display: none;
  cursor: pointer;
}


nav .nav-menu .closeMenu,
.icons i {
  display: none;
  cursor: pointer;
}


.nav-menu a {
    font-size: 20px;
    color: white;
    overflow: hidden;
    transition: 0.3s;
    animation: slideTop 0.5s ease forwards;
}

.nav-menu a button {
  text-decoration: none;
  border-radius: 4px;
  background-color: rgba(84, 104, 231, 0.5);
  padding: 10px 44px;
  color: white;
  border: none;
  outline: none;

}



/* .mainMenu a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 5px;
  position: relative;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.mainMenu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0ef;
  transition: width 0.3s ease; 
}

.mainMenu a:hover::before {
  width: 100%; 
} */





